.pagination-component {
  margin: 30px 0 40px 0;
  height: 5%;
  width: 80%;
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .page-number {
      width: 2rem;
      padding: 0.5rem;
      background-color: #0b525b;
      border: 1px solid #1b3a4b;

      span {
        cursor: pointer;
        text-decoration: none;
        color: white;
      }
    }
  }
}
