.about {
  height: calc(100vh - 50px);
  background-color: #1b3a4b;
  color: white;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
