.Search-page {
  height: auto;
  min-height: calc(100vh - 50px);
  width: 100%;
  background-color: #1b3a4b;
  display: flex;
  color: white;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  .mode-selection {
    border: none;
    height: 4rem;
    color: white;
    max-width: 30%;
    font-size: 1.2rem;
    background-color: #006466;
    border-radius: 5% 0 0 5%;
    padding: 1rem;
    outline: none;
    &:focus {
      outline: none;
    }
  }

  .description {
    font-size: 3rem;
    margin: 10% 0 5% 0;
  }
  .search-feature {
    .search-input {
      border: none;

      background-color: #131b27;
      height: 4rem;
      max-width: 60%;
      font-size: 1.2rem;
      padding: 1rem;
      color: white;
      &:focus {
        outline: none;
      }
    }
    .search-button {
      padding: 1rem;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 1.2rem;
      max-width: 30%;
      background-color: #006466;
      height: 4rem;
      border-radius: 0 5% 5% 0;
      width: auto;
      box-shadow: none;
    }
  }
}
