.actors-view {
  width: 100%;
  display: grid;
  margin: auto;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  .actor-card-view {
    align-self: center;
    justify-self: center;
  }
}
