.Actor-details {
  background-color: #1b3a4b;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .actor-image {
    margin-top: 30px;
  }
  .button {
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    max-width: 30%;
    background-color: #006466;
    height: 4rem;
    border-radius: 0 5% 5% 0;
    width: auto;
    box-shadow: none;
  }

  .form-input {
    border: none;

    background-color: #131b27;
    height: 4rem;
    max-width: 60%;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
    &:focus {
      outline: none;
    }
  }

  .delete-button {
    margin-top: 20px;
    background-color: #4d194d;
  }
}
